/** @format */

@font-face {
  font-family: "NotoSansLao";
  src: local("NotoSansLao"),
    url(./fonts/NotoSansLao/NotoSansLaoUI-Regular.ttf) format("truetype");
}
*,
body,
.Dialogbox,
label,
div {
  margin: 0;
  font-family: "NotoSansLao";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 15px; */
}

/* Card */
.card {
  border: 0.1re#FFF #c0c0c0 solid;
  background-color: #f8f8f8;
  margin: 0.3rem;
  margin-left: 15px;
  box-shadow: 0.25rem 0rem 0.25rem darkgray;
  /* display: row; */
}

.appzap_button {
  background-color: #FB6E3B;
  outline: none;
  border: none;
  border-radius: 10px;
  min-width: 4rem;
  font-size: 1rem;
  color: white;
}


.blink_card {
  animation: blinker 1s linear infinite;
}


@keyframes blinker {
  100%{
    opacity: 1;
    background-color: #FB6E3B;
  }
  50% {
    opacity: 0.5;
    background-color: #FB6E3B;
  }
  0% {
    opacity: 0.2;
    background-color: #fff;
  }
}
.blink_cardCallCheckOut {
  animation: blinkerCallCheckOut 1s linear infinite;
}
@keyframes blinkerCallCheckOut {
  100%{
    opacity: 1;
    background-color: #06c200;
  }
  50% {
    opacity: 0.5;
    background-color: #06c200;
  }
  0% {
    opacity: 0.2;
    background-color: #fff;
  }
}


.hover-me:hover{
  opacity: 0.8;
}



.scale-animation{
  animation: leaves 1s linear infinite;
}
@keyframes leaves {
  0% {
      transform: scale(2.0);
  }
  50% {
      transform: scale(1.0);
  }
  100% {
      transform: scale(2.0);
  }
}



