#sidenav-block {
  position: fixed;
  display: block;
  margin-left: 200px;
}

.sidenav---sidenav-toggle---1KRjR .sidenav---icon-bar---u1f02 {
  background-color: #606060 !important;
}
.sc-ifAKCX
  .iAgGBH
  .sidenav-navitem---3r9ER
  .selected---91VwC
  .highlighted---1vG8Y {
  background-color: #cc2000;
}

.sidenav---expanded .sidenav---sidenav-navitem-- :hover {
  background-color: #cc2000;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: -1;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
#sidebar-wrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.sc-bcXHqe.cgLLtZ {
  z-index: 2 !important;
}

.nav-item .nav-link .active {
  color: #fb6e3b !important;
}

/* class report stocks */
.card-left-report {
  width: 100%;

  & .menu-report-stocks {
    height: 85px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2;
    flex-direction: column;
    width:100%;cursor: pointer;
  }
}
 
 


