.left {
  padding: 10px;
  float: left;
  width: 40%; /* The width is 20%, by default */
  height: 100vh;
  overflow: scroll;
}

.right {
  padding: 20px;
  float: left;
  width: 60%; /* The width is 20%, by default */
  height: 100vh;
  overflow: scroll;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .left,
  .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

.menu-setiing {
  width: 100px;
  height: 110px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.38);
  margin-left: 10px;
}

.Box {
  padding-top: 10px;
  display: flex;
  flex-flow: wrap;
  justify-content: start;
}

.Box-menu {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.menu-table {
  width: 200px;
  font-size: 12px;
  height: 50px;
  background-color: rgb(255, 0, 0);
  color: white;
  text-align: center;
  box-shadow: 1px 1px 7px hsl(0deg 0% 0% / 0.38);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* addorder */

.order-left {
  padding: 10px;
  float: left;
  width: 50%; /* The width is 20%, by default */
  height: 100vh;
}

.order-right {
  padding: 20px;
  float: left;
  width: 50%; /* The width is 20%, by default */
  height: 100vh;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .order-left,
  .order-right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
